body{font-family:"BIZ UDP明朝 Medium", "HGP行書体", sans-serif;}

/* 作成条件 */
#riyoukiyaku{font-size: 0.7rem;}
fieldset{margin-bottom: 5%; margin-left: 35%; width: 30%;}
input{margin: 2%; padding: 2%; }
button{margin-left: 35%;}
form{margin-bottom: 10%;}
label input[type="radio"]{padding: 1%;}
p{margin-left: 35%; margin-top: 2%; margin-bottom: 5%; width: 28%;
    padding: 2%;
    color: rgb(255, 255, 255); background-color: rgb(20, 107, 78);}
